<!doctype html>
<html lang="en" data-bs-theme="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>RSS feeder</title>
        <script src="/static/htmx.js"/></script>
        <link href="/static/bootstrap.css" rel="stylesheet">
        <link href="/static/index.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    </head>
    <body>


        <div class="container p-5">
        <h1>Task Manager</h1>
        <hr class="pb-3">

    <div class="p-3">

            <form class="mb-3 p-3 border" id="source-form" hx-post="/new" hx-trigger="submit" hx-swap="afterbegin" hx-target="#cards-list">
    <h2>New Task</h2>
        <div class="card rounded-0 my-2">
            <div class="card-header">
                    <small class="card-title">NAME:</small>
                    <input type="text" name="name" class="form-control form-control-sm rounded-0" id="name" aria-describedby="nameHelp">
            </div>
            <div class="card-body p-0">

                <div class="bg-success-subtle p-2">
                    <small class="card-title">DONE:</small>
                    <input type="text" name="done" class="form-control form-control-sm rounded-0" id="done" aria-describedby="doneHelp">
                </div>
                <hr class="m-1">
                <div class="bg-primary-subtle p-2">
                    <small class="card-title">TODO:</small>
                    <input type="text" name="todo" class="form-control form-control-sm rounded-0" id="todo" aria-describedby="todoHelp">
                </div>
            </div>

            <div class="card-footer text-body-secondary">
                <button type="submit" class="btn btn-primary rounded-0">New Task</button>
            </div>
        </div>
            </form>

    <div id="cards-list">

        {% for task in task_list %}
        <div class="card rounded-0 my-2">
            <div class="card-header">

              <div class="row align-items-start">
                <div class="col">
                            {{ task.name }}
                </div>
                <div class="col text-center">
                            {{ task.date_created.hour }}:{{ task.date_created.minute }} - 
                            {{ task.date_created.day }}/{{ task.date_created.month }}/{{ task.date_created.year }}
                </div>
                <div class="col text-end">
                            {{ task.date_created | days_diff }}
                </div>
              </div>

            </div>
            <div class="card-body p-0">

                <div class="bg-success-subtle p-2">
                    <small class="card-title">DONE:</small>
                    <p class="card-text">{{ task.done }}</p>
                </div>
                <hr class="m-1">
                <div class="bg-primary-subtle p-2">
                    <small class="card-title">TODO:</small>
                    <p class="card-text">{{ task.todo }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
        </div>



        <script src="/static/bootstrap.bundle.js"></script>
        </body>
</html>
