{% extends "base.html" %}
{% block body %}

<form hx-post="/work" hx-target="#form-response" hx-swap="afterbegin">
  <!-- Primeira linha -->
  <div class="row g-3 pb-2">

    <div class="col-sm-3">
      <input class="form-control form-control-sm" type="date" name="date" placeholder=".form-control-lg" aria-label=".form-control-lg example" required>
      <!-- <input type="date" class="form-control form-control-sm" id="date" name="date" required> -->
    </div>


    <div class="col-sm">
      <input class="form-control form-control-sm" type="text" name="tag" placeholder="task/tag" aria-label=".form-control-lg example">
    </div>

  </div>

  <!-- Segunda linha -->
  <div class="row g-3 pb-3">
    <div class="col-sm">
      <div class="form-floating">
        <textarea class="form-control" id="exampleFormControlTextarea2" name="done" rows="10"></textarea>
        <label class="form-label" for="exampleFormControlTextarea2">DONE</label>
      </div>
    </div>

    <div class="col-sm">
      <div class="form-floating">
        <textarea class="form-control" id="exampleFormControlTextarea1" name="todo" rows="10"></textarea>
        <label class="form-label" for="exampleFormControlTextarea1">TODO</label>
      </div>
    </div>
  </div>

  <!-- Botão de envio -->
  <div class="row pb-3">
    <div class="row">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

<!-- Local onde a resposta será exibida -->
<div id="form-response">
  {% for record in recordlist %}
  {% include "work_card.html" %}
  {% endfor %}
</div>

<script>
  // Function to resize a textarea to fit its content
  function autoResizeTextarea(textarea) {
    textarea.style.height = textarea.scrollHeight + 'px'; // Set to fit content
  }

  // Select all textareas in the document
  document.querySelectorAll('textarea').forEach((textarea) => {
    // Resize on page load
    autoResizeTextarea(textarea);
    

    // Resize on input (typing or pasting)
    textarea.addEventListener('htmx:afterSwap', () => autoResizeTextarea(textarea))
  });
</script>

{% endblock %}
